<div class="card-register">
    <mat-card>
        <mat-card-title>Criar um novo campeonato</mat-card-title>
        
        <mat-card class="message">
        <h2>Isso aí jogador, você está a um passo de começar o campeonato, cadastre-se e se divirta!!!<br>Lembre-se, ao cadastrar você deve lembrar de quem vai duelar, por exemplo:</h2><br>
        <h2>Time 1 x Time 2</h2><br>
        <h2>Time 3 x Time 4</h2>
        </mat-card>
            
        <form>
            <mat-form-field>
                <input matInput placeholder="TIME 1" [(ngModel)]="championship.teamList[0]" name="teamList">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="TIME 2" [(ngModel)]="championship.teamList[1]" name="teamList[1]">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="TIME 3" [(ngModel)]="championship.teamList[2]" name="teamList[2]">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="TIME 4" [(ngModel)]="championship.teamList[3]" name="teamList.[3]">
            </mat-form-field>
        </form>

        <div class="button-group">
            <button mat-raised-button (click)="createChampionship()">
                Salvar
            </button>
        </div>
    </mat-card>
    
</div>