<div class="container">
  <h1>Campeonatos em andamento:</h1>
  <div class="championship-bracket-rounded">
    <div class="championship-bracket-round">
      <h3 class="championship-bracket-title">Etapa 1</h3>
      <ul class="championship-bracket-list" *ngFor="let championship of championships">
        <li class="championship-bracket-item">
          <mat-card class="championship-bracket-team">
            <p>{{championship.teamList[0]}}</p>
          </mat-card>
          <mat-card class="championship-bracket-team">
            <p>{{championship.teamList[1]}}</p>
          </mat-card>
        </li>
      </ul>
      <hr>
      <ul class="championship-bracket-list" *ngFor="let championship of championships">
        <li class="championship-bracket-item">
          <mat-card class="championship-bracket-team">
            <p>{{championship.teamList[2]}}</p>
          </mat-card>
          <mat-card class="championship-bracket-team">
            <p>{{championship.teamList[3]}}</p>
          </mat-card>
        </li>
      </ul>

    </div>

    <div class="championship-bracket-round select-team">
      <h3 class="championship-bracket-title">Etapa 2</h3>
      <div class="select-boxes">
        <mat-card>
          <form [formGroup]="teamForm" (submit)="getTeams()">
            <mat-form-field>
              <mat-label>Selecione um time</mat-label>
              <mat-select formControlName="teamList">
                <mat-option *ngFor="let championship of championships" [value]="teamList" >
                  <mat-option>{{ championship.teamList }}</mat-option>
                </mat-option>
              </mat-select>
            </mat-form-field><br/>
          </form>
        </mat-card>
        <hr>
        <mat-card>
          <form [formGroup]="teamForm" (submit)="getTeams()">
            <mat-form-field>
              <mat-label>Selecione um time</mat-label>
              <mat-select formControlName="teamList">
                <mat-option *ngFor="let championship of championships" [value]="teamList" >
                  <mat-option>{{ championship.teamList }}</mat-option>
                </mat-option>
              </mat-select>
            </mat-form-field><br/>
          </form>
        </mat-card>
      </div>
    </div>

    <div class="championship-bracket-round">
      <h3 class="championship-bracket-title">A grande final</h3>
      <div class="select-boxes final-winner">
        <mat-card>
          <form [formGroup]="teamForm" (submit)="getTeams()">
            <mat-form-field>
              <mat-label>Selecione um time</mat-label>
              <mat-select formControlName="teamList">
                <mat-option *ngFor="let championship of championships" [value]="teamList" >
                  <mat-option>{{ championship.teamList }}</mat-option>
                </mat-option>
              </mat-select>
            </mat-form-field><br/>
          </form>
        </mat-card>
      </div>
    </div>
  </div>
</div>
